<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.com.ifpe.web2.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarServlet</servlet-name>
        <servlet-class>br.com.ifpe.web2.controller.RegistrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcarConsultaServlet</servlet-name>
        <servlet-class>br.com.ifpe.web2.controller.MarcarConsultaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeUsuarioServlet</servlet-name>
        <servlet-class>br.com.ifpe.web2.controller.HomeUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarConsultaServlet</servlet-name>
        <servlet-class>br.com.ifpe.web2.controller.VisualizarConsultaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPerfilServlet</servlet-name>
        <servlet-class>br.com.ifpe.web2.controller.EditarPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarConsultaServlet</servlet-name>
        <servlet-class>br.com.ifpe.web2.controller.EditarConsultaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeMedicoServlet</servlet-name>
        <servlet-class>br.com.ifpe.web2.controller.HomeMedicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarConsultaServlet</servlet-name>
        <servlet-class>br.com.ifpe.web2.controller.FinalizarConsultaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarHistoricoServlet</servlet-name>
        <servlet-class>br.com.ifpe.web2.controller.VisualizarHistoricoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarServlet</servlet-name>
        <url-pattern>/RegistrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcarConsultaServlet</servlet-name>
        <url-pattern>/MarcarConsultaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeUsuarioServlet</servlet-name>
        <url-pattern>/HomeUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarConsultaServlet</servlet-name>
        <url-pattern>/VisualizarConsultaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPerfilServlet</servlet-name>
        <url-pattern>/EditarPerfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarConsultaServlet</servlet-name>
        <url-pattern>/EditarConsultaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeMedicoServlet</servlet-name>
        <url-pattern>/HomeMedicoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarConsultaServlet</servlet-name>
        <url-pattern>/FinalizarConsultaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarHistoricoServlet</servlet-name>
        <url-pattern>/VisualizarHistoricoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginServlet</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>Header e Footer</description>
            <url-pattern>/view/*</url-pattern>
            <include-prelude>/template/header.jspf</include-prelude>
            <include-coda>/template/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
